@page "/forgot-password"
@inject LocalizationService Loc
@implements IDisposable

<PageTitle>@Loc.ForgotPasswordPageTitle</PageTitle>

<div class="form-page">
    <h1>@Loc.ForgotPasswordPageTitle</h1>
</div>

@code {
    protected override void OnInitialized()
    {
        Loc.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Loc.OnChange -= StateHasChanged;
    }
}
